<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKV7meoibKQQtsWymtvJiPJ5SVZvZRwYE</string>
	<key>GCM_SENDER_ID</key>
	<string>201914040643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.varcast.app</string>
	<key>PROJECT_ID</key>
	<string>varcast-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>varcast-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201914040643:ios:5ec98dc85f811b4b2f6ff6</string>
</dict>
</plist>